body {
    background-color: #ff0020;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

.Navbar {
    font-family: system-ui;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    padding: 10;
    border-bottom: solid 2px;
}

.title {
    font-size: x-large;
}

.Navbar a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.Navbar .selected {
    text-decoration: underline;
}

.Navbar a:hover {
    text-decoration: underline;
}

.content * {
    font-family: system-ui;
    font-weight: bolder;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
}

.scraper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin {
    margin-top: 15px;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 15;
}

.filter div, .filter input, .filter label {
    margin-left: 10px;
    margin-right: 10px;
}

.waterwheel {
    display: flex;
    justify-content: center;
    border: solid 5px;
    overflow: hidden;
    width: 1000px;
    margin: 1px;
}

.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlighted {
    border: solid 5px;
    width: 199
}

.gameName {
    font-size: 30;
    padding: 10;
}

.checks {
    display: flex
}

.user {

}

.own {
    border: solid 5px;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}

.complete {
    background-color: blue;
    border: solid 5px;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}

.own:hover, .complete:hover {
    border-color: #cac9c9;
}

.label:hover {
    border-color: black;
}

.unchecked {
    background-color: red;
    color:  #ff7f5a;
    border: black solid 5px;
    text-decoration: none;
}

.checked {
    background-color: #fffa29;
    color: black;
}